body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

#topContainer,
#bottomContainer {
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;
}

#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1 {
  margin: 0;
}

#leftContainer {
  height: 80%;
  width: 70%;
  background-color: aliceblue;
}

#cssAttachedSquare {
  height: 20px;
  width: 20%;
  background-color: red;
}

#rightContainer {
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: aqua;
}

.slider {
  width: 70%;
}

#settingValueContainer {
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

#codeContainer {
  width: 90%;
  height: 20%;
  margin-top: 5%;
  background-color: antiquewhite;
  text-align: center;
}